{% extends "onlinecourse/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body {
        background-color: #f7bcefb7; /* Establece el color de fondo */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Centra verticalmente en la pantalla */
    }

    .form-container {
        background-color: #fff; /* Establece el color de fondo del formulario */
        border: 1px solid #ccc; /* Establece un borde */
        padding: 20px;
        border-radius: 10px; /* Agrega bordes redondeados */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
    }

    h2{
        color: #3d3737cc;
    }
</style>

<div class="container">
    <div class="form-container">
        <h2 class="text-center">Registrar Usuario</h2>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
            <!-- <button type="submit" class="btn btn-primary btn-block">Registrar</button> -->
        </form>
    </div>
</div>
{% endblock %}
